.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-componenet__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-componenet__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400px;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}

.user-component__column:hover {
  cursor: pointer;
  color: black;
}
