body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 400px;
  height: 800px;
  background-color: white;
  border: 5px solid #09c8af;
}

.blank1 {
  height: 50px;
}

.Xandplaylist {
  display: flex;
  justify-content: space-around;
}

.Firstline:first-child {
  display: flex;
  align-items: center;
}

.Firstline:last-child {
  opacity: 0%;
}

.blank2 {
  height: 30px;
}

.Album {
  display: flex;
  justify-content: center;
}

.Secondline:first-child {
  display: flex;
  align-items: center;
}

.Secondline:last-child {
  line-height: 0.5;
}

.Secondline__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #ffbd11;
  border-radius: 20%;
  border: black solid;
}

#albume_image {
  color: white;
}

.Random_Love {
  font-weight: 800;
  font-size: 30px;
}

.by_Divay_Kapoor {
  font-weight: 700;
}

.blank3 {
  height: 30px;
}

.button {
  display: flex;
  justify-content: space-evenly;
}

.playybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: black solid;
  border-radius: 10px;
  border-width: 2px 2px 5px 2px;
}

.heartplus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: black solid;
  border-radius: 50%;
  border-width: 2px 2px 5px 2px;
}

#play {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
}

.blank4 {
  height: 30px;
}

.Songs {
  height: 350px;
}

.songslist {
  height: 50px;
}

.Songs {
  display: flex;
  align-items: center;
  height: 80px;
}

.Lastline1:first-child {
  display: flex;
  align-items: center;
}

.Lastline1:last-child {
  line-height: 0.3;
}

.Lastline1__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f85a2a;
  border-radius: 20%;
  border: black solid;
  margin-left: 40px;
}

.Songsname {
  font-weight: 700;
  font-size: 20px;
}

.Singer {
  font-weight: 100;
}

.Lastline2:first-child {
  display: flex;
  align-items: center;
}

.Lastline2:last-child {
  line-height: 0.3;
}

.Lastline2__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ff89bb;
  border-radius: 20%;
  border: black solid;
  margin-left: 40px;
}

.Lastline3:first-child {
  display: flex;
  align-items: center;
}

.Lastline3:last-child {
  line-height: 0.3;
}

.Lastline3__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #1947e5;
  border-radius: 20%;
  border: black solid;
  margin-left: 40px;
}

.Lastline4:first-child {
  display: flex;
  align-items: center;
}

.Lastline4:last-child {
  line-height: 0.3;
}

.Lastline4__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #00c6ad;
  border-radius: 20%;
  border: black solid;
  margin-left: 40px;
}
