body {
  background-color: gainsboro;
}

h1 {
  text-align: center;
}

div[id*="container"] {
  width: 300px;
  height: 500px;
  margin: 20px 15px 20px 15px;
  border: 10px solid white;
}

div[id="container1"] {
  background-color: tomato;
}

div[id="container2"] {
  background-color: teal;
}

div[id="container3"] {
  background-color: burlywood;
}

div[id="container4"] {
  background-color: Thistle;
}

.box {
  font-size: 25px;
  font-weight: bold;
}

#main1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#main1 > div > div {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 300px;
  height: 180px;
  position: relative;
  top: 20px;
}

#main2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#main2 > div > div {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 300px;
  height: 180px;
  position: relative;
  top: 20px;
}
